[submodule "docopt.cpp"]
	path = docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "cpr"]
	path = cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "json11"]
	path = json11
	url = https://github.com/dropbox/json11.git
